<alert type="success" class="text-center" >filter and post your image</alert>

<form [formGroup]="pictureForm" class="custom-file" (ngSubmit)="onSubmit()"  >
    <input type="file" class="custom-file-input" id="customFileLang" (change)="onFieldSelected($event.target.files,$event)" formControlName="picture">
    <label class="custom-file-label" for="customFileLang">Choose Picture</label>
  <img [src]="imgUrl" height="200" *ngIf="imgUrl" style="margin:4%">
  <br/><br/><br/>
  <button type="submit" class="btn btn-success" style="margin-left:85%">Add new post</button>
</form>
